---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../config";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={SITE_DESCRIPTION} />
  <title>{SITE_TITLE} - {SITE_DESCRIPTION}</title>

  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Primary Meta Tags -->
  <title>{SITE_TITLE}</title>
  <meta name="Tamarisk Media" content={SITE_TITLE} />
  <meta name="description" content={SITE_DESCRIPTION} />

  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=favicon.svg viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>"
  />

  <script>
    if (
      localStorage.getItem("dark-mode") === "true" ||
      (!("dark-mode" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      localStorage.setItem("dark-mode", "true");
      document.querySelector("html")?.classList.add("dark");
    } else {
      localStorage.setItem("dark-mode", "false");
      document.querySelector("html")?.classList.remove("dark");
    }
  </script>
</head>
