---
import { formatDate } from "../utils/data.util";
import Tags from "./Tags.astro";
interface Props {
  post: any;
}

const { post } = Astro.props;
---

<a href={post.url}>
  <div
    class="my-4 rounded-2xl bg-gray-100 border-4 border-[#bd9871] text-sm
  hover:bg-[#bd987150] hover:border-[#bd9871]
  dark:bg-[#bd9871] dark:border-[#bd9871] dark:hover:border-[#bd9871]"
  >
    <div
      class="flex h-full w-full
		flex-col
    rounded-2xl
		p-4
		text-[#032922]
    dark:bg-[#032922]
		dark:text-[#f5e5d5]"
    >
      <div class="flex-auto">
        <div class="flex justify-between pb-4 text-xs">
          <p>{formatDate(post.frontmatter.pubDate)}</p>
          <p class="font-bold text-sm">{post.frontmatter.minutesRead}</p>
        </div>

        <p class="pb-4 text-lg font-bold">{post.frontmatter.title}</p>

        <Tags tags={post.frontmatter.tags} />
        <p class="line-clamp-6 pt-4">{post.frontmatter.excerpt}</p>
      </div>
      <p class="pt-4 underline">read more →</p>
    </div>
  </div>
</a>
